.form__group {
  padding: 15px 0 0;
  margin-bottom: 1rem;
  width: 100%;
}

.form__field {
  border: 2px solid var(--secondary);
  border-radius: 0.4rem;
  color: var(--primary);
  font-family: inherit;
  line-height: 3rem;
  height: 3rem;
  font-size: 1.2rem;
  padding: 0 1rem;
  width: 100%;
  //
  //&::placeholder {
  //  color: transparent;
  //}
}

//.form__label {
//  position: absolute;
//  top: 0;
//  display: block;
//  font-size: 1rem;
//  color: #777;
//}

/* reset input */
.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}
