.dashboard__header {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.dashboard__container {
  align-items: center;
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 500px;
  max-width: 90%;
}

.form__select {
  background-color: #fff;
  border: 2px solid var(--secondary);
  border-radius: 0.4rem;
  color: var(--primary);
  font-family: inherit;
  line-height: 3rem;
  margin-bottom: 1rem;
  height: 3rem;
  font-size: 1.2rem;
  padding: 0 1rem;
}

.dashboard__button {
  background-color: var(--secondary);
  border: 0;
  border-radius: 0.4rem;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.3rem;
  height: 3rem;
  margin-top: 1rem;
  &:hover {
    background-color: var(--hover);
    //border: 1px solid var(--secondary);
  }
}

.modal {
  background-color: #b6fdad;
  color: #228d06;
  margin-bottom: 1rem;
  padding: 20px;
  position: relative;
  width: 300px;
}

.close {
  background-color: #228d06;
  cursor: pointer;
  height: 3px;
  position: absolute;
  right: 10px;
  rotate: 45deg;
  top: 33px;
  width: 20px;
}
.close::after {
  content: '';
  cursor: pointer;
  background-color: #228d06;
  height: 3px;
  position: absolute;
  rotate: 90deg;
  width: 20px;
}

.logOut__button {
  background-color: var(--hover);
  cursor: pointer;
  margin: 0 1rem;
  max-width: 200px;

  &:hover {
    background-color: var(--secondary);
  }
}
