.home__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  min-height: 100%;
  padding: 0 1rem;
  width: 100%;
}

.quiz__container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.form__container {
  max-width: 700px;
  width: 90%;
}

.question__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  width: 90%;
  p {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  button {
    background-color: var(--quiz__button);
    border: 0;
    border-radius: 0.4rem;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    width: 100%;
    &:hover {
      background-color: var(--hover);
      //border: 1px solid var(--secondary);
    }
    &:last-child {
      margin-bottom: 3rem;
    }
  }
  .active {
    background-color: var(--hover);
  }
}

.send__answers {
  background-color: #0074ff;
  border: none;
  border-radius: 0.4rem;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-bottom: 3rem;
  padding: 0.5rem 2rem;
  width: 150px;
}

.start__form {
  display: flex;
  flex-direction: column;
  font-family: inherit;
  gap: 1rem;
}

.start__button {
}

.start__form select,
input,
button,
select {
  border: 2px solid var(--secondary);
  border-radius: 0.4rem;
  color: var(--primary);
  font-family: inherit;
  line-height: 3rem;
  height: 3rem;
  font-size: 1.2rem;
  padding: 0 1rem;
}

h1 {
  margin-bottom: 1rem;
}

.home__container .home__button {
  background-color: var(--quiz__button);
  border: 0;
  border-radius: 0.4rem;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.3rem;
  height: 3rem;
  &:hover {
    background-color: var(--hover);
    //border: 2px solid var(--primary);
  }
}

.end__view {
  text-align: center;
}
