@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

.navbar {
  -webkit-box-shadow: 0px 0px 6px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 6px 0px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 6px 0px rgba(66, 68, 90, 1);
  border-bottom: 1px solid #eee;
  line-height: 4rem;
  height: 4rem;
  margin-bottom: 2rem;
}
ul {
  display: flex;
}
.link {
  color: black;
  padding: 0px 2rem;
  text-decoration: none;
}

.link:hover {
  background-color: #eee;
}
