:root {
  --primary: #0070ec;
  --secondary: #012677;
  --hover: #400;
  --quiz__button: #0070ec;
  --background: #fff;
  --text-primary: var(--secondary);
  --text-secondary: #fff;
}

[data-theme='dark'] {
  --primary: #012677;
  --secondary: #0070ec;
  --hover: #400;
  --quiz__button: #0070ec;
  --background: var(--primary);
  --text-primary: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--background);
  font-family: 'Poppins', sans-serif;
}

.App {
  background-color: var(--background);
  color: var(--text-primary);
  min-height: 100vh;
  width: 100vw;
}

.container {
  font-size: 12px;
  margin-bottom: 30px;
  padding: 0 10px;
}

.responsive__nav {
  transform: none;
}
